body { 
    font-family: Arial; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("assets/Rectangle8.png");
    background-repeat: no-repeat; /* Prevents image from tiling */
    background-size: 110%; /* Scales image to cover the whole area */
    background-position: center;
    border: none;
    font-family: "Albert Sans";
    font-weight: 100;
    }

h2, h5 {
    font-family: "Albert Sans", sans-serif;
    font-weight: 300; /* thin */
    margin: 5px 0;
}

.login-box {
    padding: 10px 60px;
    border-radius: 10px;
    width: 300px;
    margin-top: -100px;
    margin-left: 100px;

    }

.login-box h2{
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:40px;
    padding: 20px 0;
    margin-bottom:20px;
    margin-left: 40px;

}

input {
    width: 110%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    height: 28px;
    }

button {
    width: 115%;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    background: #FCDD5A;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
    }

button:hover {
    background: #2980b9;
    }

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    }

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.logo {
    position: absolute;
    top: 16px;
    left: 16px;
}

.logo img {
    width: 250px;
    height: auto;
    display: block;
}

